.facet-details {
    color: #ffffff;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .ability-card {
    background-color: #2d2d2d;
    border: none;
    color: #ffffff;
    height: 620px;
    
  }
  
  .ability-card .card-header {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-bottom: none;
  }
  
  .ability-title {
    font-weight: bold;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
   
  }

  .ability-title2 {
    font-weight: bold;
    margin-left: 65px;
    text-transform: uppercase;
    font-size: 38px;
    
   
  }
  
  .ability-detail {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: black;
  }
  
  .ability-image {
    
    
   
    margin-bottom: 20px;
  }
  
  .ability-info h5 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: black;
  }
  
  .ability-info p {
    margin-bottom: 5px;
  }
  
  .arterial-spray .card-header {
    background-color: #eb942a;
  }
  
  .bloodrush .card-header {
    background-color: #2e2f30;
  }
  
  p {
    color: black;
  }

  .bab1{
    font-size: 20px;
  }

  .bab2{
    font-size: 20px;
  }

  .babbaru{
    font-weight: bold;
   
  }

  .babbaru1{
    font-weight: bold;
    margin-top: -50px;
  }